@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #f8f8f8;
    font-family: "Roboto", sans-serif;
}

.menu {
    width: 100vw;
    height: 56px;
    background-color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;

}

.menu img {
    width: 24px;
    height: 24px;

}

.menu .left {
    width: 146px;
    height: 24px;
    display: flex;
    justify-content: space-between;

}

.menu .center {
    width: 404px;
    height: 40px;
    border: 1px solid #cccccc;
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
}

.menu .center input {
    width: 348px;
    height: 40px;
    border: 1px solid #cccccc;

}

.menu .search {
    margin-left: 15px;
}

.menu .right {
    width: 130px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .avatar {
    width: 34px;
    height: 34px;
}

.menu .logo {
    width: 90px;
    height: 20px;
}

main {
    max-width: 100vw;
    display: flex;
    background-color: #f8f8f8;
    padding: 16px;
    padding-left: 75px;

}

main .video {
    /* max-width: 70vw; */
    max-width: 952px;
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    gap: 16px;


}

main .video img {
    width: 100%;

}

main .video .title {
    font-weight: 600;
    font-size: 20px;

}



main .video-actions {
    display: flex;
    width: 902px;
    justify-content: space-between;
    align-items: center;
}

main .video-actions .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 14px;


}

main .video .video-actions img {
    width: 24px;
    height: 24px;
}

main .video .video-actions .dio {
    width: 42px;
    height: 42px;

}

main .button {
    width: 159px;
    height: 40px;
    background-color: red;
    color: #f8f8f8;
    text-transform: uppercase;
    border-radius: 2px;
    border-style: none;
}

main .channel-infos {
    margin-left: -30px;
}

main .channel-infos p {
    font-size: 14px;
    font-weight: 600;
}

main .channel-infos p:last-of-type {
    color: #515151;
    font-size: 14px;
    font-weight: 400;
}

main .like {
    width: 63px;

}

main .deslike {
    width: 100px;

}

main .share {
    width: 115px;

}

main .download {

    width: 95px;

}

main .views {
    font-size: 14px;
    font-weight: 400;
}

main .description {
    width: 510px;
    height: 64px;
    font-size: 14px;
    font-weight: 400;
    color: #515151;
}



main .sidebar {
    /* max-width: 30vw; */
    width: 372px;



}

main .sidebar .mini-video {
    display: flex;

    margin-left: 16px;
    padding: 6px;
}

main .sidebar .mini-video img {
    width: 160px;
    height: 90px;
}

main .sidebar .video-infos {
    min-width: 196px;
    min-height: 89px;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    gap: 8px;
}

main .sidebar .mini-video .description-video {
    font-weight: 600;
    font-size: 14px;
}

main .sidebar .mini-video .channel-video {
    font-weight: 400;
    font-size: 12px;
    color: #515151;

}

main .sidebar .mini-video .views-video {
    font-weight: 400;
    font-size: 12px;
    color: #515151;
}