* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #f8f8f8;
}

.menu {
    width: 100vw;
    height: 56px;
    background-color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;

}

.menu img {
    width: 24px;
    height: 24px;

}

.menu .left {
    width: 146px;
    height: 24px;
    display: flex;
    justify-content: space-between;

}

.menu .center {
    width: 404px;
    height: 40px;
    border: 1px solid #cccccc;
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
}

.menu .center input {
    width: 348px;
    height: 40px;
    border: 1px solid #cccccc;

}

.menu .search {
    margin-left: 15px;
}

.menu .right {
    width: 130px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .avatar {
    width: 34px;
    height: 34px;
}

.menu .logo {
    width: 90px;
    height: 20px;
}

main {
    width: 100vw;
    display: flex;
    background-color: #f8f8f8;
    padding: 16px;
    padding-left: 75px;

}

main .video {
    width: 70vw;


}

main .video img {
    width: 952px;

}



main .video-actions {
    display: flex;
    width: 902px;
    justify-content: space-between;
    align-items: center;
}

main .video-actions .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

main .video .video-actions img {
    width: 24px;
    height: 24px;
}

main .video .video-actions .dio {
    width: 42px;
    height: 42px;

}

main .like {
    width: 63px;
}

main .deslike{
    width:100px ;
}

main .share{
    width: 115px;
}

main .download{

    width:95px;
}


main .sidebar {
    width: 30vw;
    background-color: green;
}